<div class="background d-none d-md-block"></div>
    <div class="container height-100">
    <div class="row height-100">
    <div class="col col-md-6 col-lg-5 col-12 height-100 d-flex align-items-md-center blurbg">
        <div class="content text-center text-md-right ">
            <img class="logo" src="Images/logo.svg" alt="Logo">
                <h1>{{ site.title }}</h1>
                <span class="text description">
                    {{ site.description }}
                </span>
                <span class="text small-heading">FOLLOW ME ON</span>
                <div class="icons d-flex justify-content-center justify-content-md-end">
                <a class="social-icon" href="https://twitter.com/{{ site.twitter }}" ><img src="Icons/twitter.svg" alt="Twitter"></a>
                <a class="social-icon" href="https://github.com/{{ site.github_user }}" ><img src="Icons/github.svg" alt="Github"></a>
                <a class="social-icon" href="mailto:{{ site.email }}" ><img src="Icons/at-sign.svg" alt="Mail"></a>
                <a class="social-icon" href="https://dribbble.com/{{ site.dribbble }}" ><img src="Icons/dribbble.svg" alt="Dribbble"></a>
                <a class="social-icon" href="https://instagram.com/{{ site.instagram }}" ><img src="Icons/instagram.svg" alt="Instagram"></a>
                </div>
                <span class="text small-heading">LIKE MY WORK</span>
                <a href="#" class="btn btn-outline-dark">Hire Me</a>
    </div>
</div>
</div>
